.profile-wrapper {
  width: 25rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.profile-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 1.1rem 0;
  text-transform: uppercase;
}

.profile-content {
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.5);
  width: 70%;
  height: 2.5rem;
  border-radius: 6px;
  text-align: center;
  margin: 1.1rem 0;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
